/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-area {
		left: 10px;
	}
	.slider-bottom-area {
		margin-top: 80px;
	}
	.slider-bottom-head.text-center > h2 {
		font-size: 28px;
	}
	.slider-bottom-head h1 {
		font-size: 35px;
	}
	.slider-body > h2 {
		font-size: 16px;
	}
	.slider-body > p {
		font-size: 14px;
	}
	.contact-person > h2 {
		font-size: 16px;
	}
	.contact-person > p {
		font-size: 14px;
	}
	.contact-form input[type="text"] {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	.logo-area p {
		font-size: 14px;
	}
	.image-right img {
		width: 100%;
	}
	.left.fawesome-control {
		top: 140px;
	}
	.right.fawesome-control {
		top: 140px;
	}
	.image-right {
		margin-left: 113px;
		margin-right: 130px;
	}
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	.slider-area {
		left: 0%;
		top: 150px;
	}
	.left.fawesome-control {
		font-size: 20px;
		left: 10px;
		padding-left: 10px;
		padding-right: 10px;
		top: 50px;
	}
	.right.fawesome-control {
		font-size: 20px;
		right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		top: 50px;
	}
	.social-link-area {
		text-align: center;
		float: none;
	}
	.slider-bottom-area {
		margin-top: 0;
	}
	.slider-bottom-head.text-center > h2 {
		font-size: 18px;
	}
	.slider-bottom-head h1 {
		font-size: 16px;
		margin-bottom: 40px;
	}
	.slider-body {
		text-align: center;
		margin-bottom: 30px;
	}
	.slider-body > h2 {
		font-size: 16px;
	}
	.slider-body > p {
		font-size: 14px;
	}
	.contact-form input[type="text"] {
		padding-bottom: 5px;
		padding-left: 10px;
		padding-top: 5px;
	}
	.btn2 {
		font-size: 14px;
		margin-bottom: 0;
		padding: 5px 10px;
	}
	.contact-form {
		text-align: center;
		margin-bottom: 50px;
	}
	.contact-person {
		text-align: center;
	}
	.person-image {
		float: none;
	}
	.contact-person > h2 {
		font-size: 17px;
	}
	.contact-person > p {
		font-size: 14px;
	}
	.logo-area p {
		font-size: 13px;
	}
	.nav-area {
		text-align: center;
	}
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}